<!DOCTYPE HTMl>
<html>
	<head>
		<link rel="stylesheet" href="manage.css" />
	</head>
	<body>
		<div id = "menu">
			<div class="logo">Real Time Data Dashboard	
				<div class = "tabs">
					<button type= "button"> History </button>
					<button type= "button"> Collaborate </button>
					<button type= "button"> Manage </button>
					<button type= "button"> Profile </button>
				</div>
			</div>
		</div>

		<div id="top-container">
			<div class= "question-categories">
				<label>Question Categories</label>
				<button type="button">Maually Entered</button>
				<button type="button">Water Quality</button>
				<button type="button">Feed</button>
				<button type="button">Energy Use</button>
				<button type="button"> Health Management </button>
				<button type="button">Chemical Use</button>
			</div>

			<div class= "question-selection">
				<label> Select Questions </label>
				<button type="button">What is the size of your shrip farm?</button>
				<button type="button">This one is a manually entered question</button>
				<button type="button">This is the second manulaly entered question</button>
				<button type="button">This is a default question from the researchers</button>
				<button type="button"> What is the speed of an unladen swallow?</button>
				<button type="button">Is your farm polluted?</button>
			</div>

			<div class= "master-queue">
				<label> Master Queu </label>
				<p> Default questions from scientists</p>
				<p> Lorem ipsum dolor sit amet? </p>
				<p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~? </p>				
			</div>
		</div>

		<div id= "bottom-container">
			<div class= "custom-question">
				<label> Enter a custom question here: </label>
				<input type="text" value="<Text Field>">
			</div>
			<button type= "button"> Add </button>
		</div>

	</body>

</html>
